* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: #050505;
}

html,
body {
	display: flex;
	height: 100vh;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
}

html.home::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: -1;
	background: url(/assets/images/site/acoustic.svg);
	background-repeat: no-repeat;
	background-position: center 100px;
	background-size: 550px;
	opacity: 0.2;
}

.page {
	background-color:black;
	position: relative;
}

.page::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: -1;
	background-image: url(/assets/images/site/telecaster.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	opacity: 0.1;
}


body {
	padding: 1.5rem;
}

html.home {
	background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23292929' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

html,
body {
	color: white;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase;
	text-rendering: optimizeLegibility;
	line-height: 1;
	margin-top: 0;
	text-align: center;
}


a {
	font-weight: 600;
	text-decoration: none;
	color: #a2482a;
}

a:hover,
a:focus,
a.active {
	text-decoration: underline;
	color: white;
}

nav {
	display: block;
	width: 100%;
	text-align: right;
	font-size: 1.125rem;
}

nav a {
	display: block;
	margin: 0.25rem;
}

nav a {
	text-transform: uppercase;
}

@media screen and (min-width: 680px) {
	nav {
		text-align: right;
		width: auto;
		margin-top: 0;
		font-size: inherit;
	}

	nav a {
		display: inline-block;
		margin: auto;
		padding-left: .5rem;
	}

	nav a::after {
		content: '|';
		margin-left: 1rem;
		color: white;
	}

	nav a:first-of-type {
		padding-left: 0;
	}

	nav a:last-of-type::after {
		content: '';
	}
}

.logo {
	display: flex;
	background: #8f0d0d;
	border-radius: 8rem;
	width: 82px;
	height: 82px;
	margin: 0;
	padding: 0;
	align-items: center;
	justify-content: center;
}

header[role="banner"] {
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 1.25rem 1rem;
	width: 100%;
}

.home header[role="banner"] {
	background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

@media screen and (min-width: 600px) {
	header[role="banner"] {
		color: white;
		padding: 2rem;
	}
}

section h1 {
	font-weight: 600;
	font-size: 1.875rem;
	text-align: center;
	margin-bottom: 1.25rem;
}

section h2 {
	font-weight: 300;
	font-size: 1.125rem;
	font-style: italic;
	text-align: center;
	margin-bottom: 1.875rem;
	text-transform: capitalize;
}

@media screen and (min-width: 640px) {
	section h1 {
		font-size: 2.5rem;
	}

	.home section h1 {
		font-size: 2rem;
	}
	
	section h2 {
		font-size: 1.5rem;
	}

	.home section h2 {
		font-size: 1.5rem;
	}
}

section p {
	font-weight: 400;
	font-size: 1.25rem;
}

svg {
	width: 72px;
	height: 72px;
}

.hero {
	max-width: 740px;
	margin: auto;
	width: 100%;
	padding: 1.25rem;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	padding-top: .5rem;
	flex-direction: column;
}

.footer-links {
	display: flex;
	padding-top: 0.215rem;
}

.page main {
	max-width: 800px;
	padding: 2rem;
	margin: auto;
}

.newspaper {
	column-count: 1;
	list-style-position: inside;
	list-style-type: circle;
	max-width: 800px;
	margin: auto;
	padding: 1rem;
	padding-top: 2.25rem;
	font-size: 1.2rem;
}

.newspaper a {
	color: #e15e40;
}

@media screen and (min-width: 424px) {
	.newspaper {
		column-count: 2;
	}
}

@media screen and (min-width: 624px) {
	.newspaper {
		column-count: 3;
	}
}

.tel {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.tel a {
	padding-left: 0;
}

.socials {
	list-style-type: none;
	padding-left: 0.5rem;
}

.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.screen-reader-text {
	position: absolute;
	clip-path: inset(50%);
	margin: -1px;
	border: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	word-wrap: normal !important;
	clip: rect(1px, 1px, 1px, 1px);
}

.screen-reader-text:focus {
	display: block;
	top: 5px;
	left: 5px;
	z-index: 100000;
	clip-path: none;
	background-color: #eee;
	padding: 15px 23px 14px;
	width: auto;
	height: auto;
	text-decoration: none;
	line-height: normal;
	color: #444;
	font-size: 1em;
	clip: auto !important;
}
