* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html.home,
html.home body {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: space-between;
}

html.home::before {
	content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    background: url(/assets/images/site/acoustic.svg);
    background-repeat: no-repeat;
    background-position: center 70px;
    background-size: 460px;
    opacity: 0.15;
}

body {
	padding: 1.5rem;
}

html {
	background: #050505;
}

html,
body {
	color: white;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase;
	text-rendering: optimizeLegibility;
	line-height: 1;
	margin-top: 0;
	text-align: center;
}


a {
	color: red;
	padding-left: .5rem;
	font-weight: 600;
	text-decoration: none;
	color: #a2482a;
}

a:hover,
a:focus,
a.active {
	text-decoration: underline;
	color: white;
}

nav {
	display: block;
	width: 100%;
	text-align: center;
}

nav a {
	display: block;
	margin: 0.25rem;
}

nav a {
	text-transform: uppercase;
}

@media screen and (min-width: 510px) {
	nav {
		text-align: right;
		width: auto;
	}

	nav a {
		display: inline-block;
		margin: auto;
	}
}

article h1 {
	font-weight: 600;
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 1.25rem;
}

article h2 {
	font-weight: 300;
	font-size: 1rem;
	font-style: italic;
	text-align: center;
	margin-bottom: 1.875rem;
	text-transform: capitalize;
}

@media screen and (min-width: 640px) {
	article h1 {
		font-size: 2rem;
	}
	
	article h2 {
		font-size: 1.25rem;
	}
}

article p {
	font-weight: 400;
	font-size: 1.25rem;
}

svg {
	width: 72px;
	height: 72px;
}

header[role="banner"] {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
}

@media screen and (min-width: 640px) {
	header[role="banner"] {
		flex-direction: row;
		justify-content: space-between;
		color: white;
	}
}

html.home main {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	height: 100vh;
	width: 100%;
}

.hero {
	max-width: 740px;
	margin: auto;
	width: 100%;
	padding: 1.25rem;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}

.bg {
	background: #8f4026;
	box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), inset 0 3px 6px rgba(0,0,0,0.23);
}

.banner {
	max-width: 900px;
	margin: auto;
	display: flex;
	flex-direction: column;
	padding: 5rem;
}

.banner h1 { 
	margin-bottom: 1rem;
}

@media screen and (min-width: 640px) and (min-height: 582px) {
	.page footer {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

.newspaper {
	column-count: 1;
	list-style-position: inside;
	list-style-type: circle;
	max-width: 800px;
	margin: auto;
	padding: 1rem;
	padding-top: 2.25rem;
}

.newspaper a {
	color: #e15e40;
}

@media screen and (min-width: 424px) {
	.newspaper {
		column-count: 2;
	}
}

@media screen and (min-width: 624px) {
	.newspaper {
		column-count: 3;
	}
}

.socials {
	list-style-type: none;
}

.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.screen-reader-text {
	position: absolute;
	clip-path: inset(50%);
	margin: -1px;
	border: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	word-wrap: normal !important;
	clip: rect(1px, 1px, 1px, 1px);
}

.screen-reader-text:focus {
	display: block;
	top: 5px;
	left: 5px;
	z-index: 100000;
	clip-path: none;
	background-color: #eee;
	padding: 15px 23px 14px;
	width: auto;
	height: auto;
	text-decoration: none;
	line-height: normal;
	color: #444;
	font-size: 1em;
	clip: auto !important;
}
